a:link, a:visited {
  background-color: #31717c;    /* it gives color to the button(hyperlink) */
  color: white;            /* sets the color of the link-text (button text) */
  padding: 14px 25px;       /*This sets the breadth and length and makes the hyperlink a button*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(58, 67, 156);
}

.header_1{
    display:block;
    block-size: 140px;
    padding: 20px;
    background-color: rgb(69, 156, 91);
    text-align: right;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}